*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
}

li{
    list-style-type: none;
}

.breadcrumb{
    display: flex;

}

.breadcrumb-item::after{
    content: "/";
    padding: 0 5px;
}

.breadcrumb-item.active::after{
    content: "";
}

.breadcrumb-item2 + .breadcrumb-item2::before {
    content: ">";
    padding: 0 5px;
}

.breadcrumb-item3+.breadcrumb-item3::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
    padding: 0 5px;
}